.faq-container .letter {
  font-family: "Actor", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  padding-right: 30px;
  color: #e5e5e5; }

.faq-container .accordion {
  display: flex;
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  align-items: center; }
  .faq-container .accordion .arrow {
    padding-left: 25px; }

.faq-container .faq-text {
  padding-right: 55px;
  width: 178px;
  font-family: "Aclonica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #191919; }

.faq-container .panel {
  display: none;
  background-color: #ffffff;
  overflow: hidden; }
  .faq-container .panel .panel-accordion {
    display: flex;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    align-items: center; }

.faq-container .panel-text {
  width: 270px;
  font-family: "Aclonica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #191919; }

.faq-container .bottom-link {
  display: flex;
  justify-content: center; }
  .faq-container .bottom-link .for-link {
    margin-top: 25px;
    font-family: "Acme", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #22bf95; }

@media screen and (min-width: 530px) {
  .faq-container .letter {
    font-size: 70px; }
  .faq-container .accordion {
    padding: 30px; }
  .faq-container .panel {
    padding: 30px; }
  .faq-container .panel-text {
    font-size: 24px;
    width: 100%;
    padding-left: 100px; }
  .faq-container .faq-text {
    font-size: 24px;
    width: 100%;
    padding-left: 100px; } }

.accordion.active .arrow {
  transform: scale(-1, -1); }
